#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  background-image: url("assets/logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position-y: center;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-right: 15px;
}

main {
  position: relative;
  height: 100%;
}
.page-content {
  padding: 15px;
}

.mdl-layout__header, .mdl-button--raised.mdl-button--colored {
  background-color: #ff7626;
}

.mdl-button.mdl-button--raised.mdl-button--accent {
  background-color: #f44336;
}

.mdl-layout__header-row {
  padding: 0 16px;
}

.offline {
  .mdl-layout__header, .mdl-button--raised.mdl-button--colored {
    background-color: #383839;
  }

  .offline-message, .mdl-layout__content {
    transform: translateY(55px);
  }
}

.mdl-layout__content {
  transition: transform 1s ease;
}

.offline-message {
  background-color: #7f7f7f;
  color: #ffffff;
  padding: 15px;
  transform: translateY(0px);
  transition: transform 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.multichoice {
  margin-bottom: 15px;

  label:first-child {
    display: block;
  }

  .mdl-checkbox {
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
}

.mdl-checkbox__label {
  font-size: 14px;
}

.mdl-checkbox__box-outline {
  border: 2px solid rgba(0, 0, 0, .34);
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  color: rgba(0, 0, 0, .26);
  font-size: 16px;
}

.mdl-textfield--floating-label.is-focused.is-invalid .mdl-textfield__label {
  color: rgb(255, 87, 34);
  font-size: 12px;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: rgba(0, 0, 0, .12);
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
  background-color: rgb(255, 87, 34);
}
